*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.6;
  overflow-x: hidden;
  background-color: #0f1424; }

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #fff; }

.profile-card {
  background-color: #5847eb;
  border-radius: 1.2rem;
  position: relative;
  padding: 3rem;
  width: 26rem;
  height: 35rem; }
  .profile-card__name {
    font-size: 3.4rem;
    font-weight: 400;
    width: 50%;
    line-height: 4rem; }
  .profile-card__picture {
    margin-bottom: 2.5rem; }
  .profile-card__img {
    border-radius: 50%;
    border: 2px solid white;
    width: 45%; }
  .profile-card__time-period {
    background-color: #1c1f4a;
    position: absolute;
    left: 0;
    right: 0;
    height: 20rem;
    margin-top: 3rem;
    z-index: -1;
    border-radius: 1.2rem;
    display: flex;
    flex-direction: column; }
  .profile-card__list {
    list-style: none;
    margin-bottom: 2.2rem;
    display: flex;
    flex-direction: column;
    margin-top: 9rem;
    margin-left: 2rem; }
  .profile-card__list-item:not(:first-child) {
    margin-top: 1rem; }
  .profile-card__link:link, .profile-card__link:visited {
    color: #fff;
    text-decoration: none;
    cursor: pointer; }

small {
  font-size: 1.5rem;
  color: #bdc1ff; }
