// PRIMARY COLORS
$color-blue: hsl(246, 80%, 60%);
$color-soft-blue: hsl(195, 74%, 62%);
$color-light-red: hsl(348, 100%, 68%);
$color-lime-green: hsl(145, 58%, 55%);
$color-violet: hsl(264, 64%, 52%);
$color-soft-orange: hsl(43, 84%, 65%);

// NEUTRAL COLORS
$color-very-dark-blue: hsl(226, 43%, 10%);
$color-dark-blue: hsl(235, 46%, 20%);
$color-desaturated-blue: hsl(235, 45%, 61%);
$color-pale-blue: hsl(236, 100%, 87%);

// FONT VARIABLES
$font-primary: 'Rubik',
sans-serif;
$font-secondary: 'Sans-serif';


// GENERAL
@mixin transition-basic {
  transition: all 0.3s;

}

// - Mobile: 375px
// - Desktop: 1440px


// RESPONSIVE BREAKPOINTS
$bp-larger: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 37.5em; // 600px;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: $bp-large) {
    // font-size: 50%;
  }

  @media only screen and (max-width: $bp-medium) {
    // font-size: 40%;
  }

  @media only screen and (max-width: $bp-small) {
    // font-size: 35%;
  }

}

body {
  font-family: $font-primary;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.6;
  overflow-x: hidden;
  background-color: $color-very-dark-blue;






}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: green;
  min-height: 100vh;
  color: #fff;
}

.profile-card {
  background-color: $color-blue;
  // padding: 5rem;
  border-radius: 1.2rem;
  position: relative;
  // width: 25rem;
  padding: 3rem;
  width: 26rem;
  height: 35rem;
  
  
  

  &__name {
    font-size: 3.4rem;
    font-weight: 400;
    width: 50%;
    line-height: 4rem;
  }



  &__picture {
    margin-bottom: 2.5rem;

  }

  &__img {
    border-radius: 50%;
    border: 2px solid white;
    width: 45%;

  }

  &__time-period {
    background-color: $color-dark-blue;
    position: absolute;
    left: 0;
    right: 0;
    height: 20rem;
    margin-top: 3rem;
    z-index: -1;
    border-radius: 1.2rem;
    display: flex;
    flex-direction: column;
    




  }

  &__list {
    list-style: none;
    margin-bottom: 2.2rem;
    display: flex;
    flex-direction: column; 
    margin-top: 9rem;
    margin-left: 2rem;
    

    
  }

  &__list-item:not(:first-child) {
    margin-top: 1rem;

    
  }


  &__link {
    
    
    &:link,
    &:visited {
      
      color: #fff;
      text-decoration: none;
      cursor: pointer;
    }
  }



  // &__time-period ul {
  //   list-style: none;
  //   margin-bottom: 2.2rem;
  //   display: flex;
  //   flex-direction: column; 
  //   margin-top: 4.5rem;
  //   margin-left: 2rem;





  // }

  // &__time-period li {
  //   padding: .5rem;



  // }





}












small {
  font-size: 1.5rem;
  color: $color-pale-blue;
}