// PRIMARY COLORS
$color-blue: hsl(246, 80%, 60%);
$color-soft-blue: hsl(195, 74%, 62%);
$color-light-red: hsl(348, 100%, 68%);
$color-lime-green: hsl(145, 58%, 55%);
$color-violet: hsl(264, 64%, 52%);
$color-soft-orange: hsl(43, 84%, 65%);

// NEUTRAL COLORS
$color-very-dark-blue: hsl(226, 43%, 10%);
$color-dark-blue: hsl(235, 46%, 20%);
$color-desaturated-blue: hsl(235, 45%, 61%);
$color-pale-blue: hsl(236, 100%, 87%);

// FONT VARIABLES
$font-primary: 'Rubik',
sans-serif;
$font-secondary: 'Sans-serif';


// GENERAL
@mixin transition-basic {
  transition: all 0.3s;

}

// - Mobile: 375px
// - Desktop: 1440px


// RESPONSIVE BREAKPOINTS
$bp-larger: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 37.5em; // 600px;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: $bp-large) {
    // font-size: 50%;
  }

  @media only screen and (max-width: $bp-medium) {
    // font-size: 40%;
  }

  @media only screen and (max-width: $bp-small) {
    // font-size: 35%;
  }

}

body {
  font-family: $font-primary;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.6;
  overflow-x: hidden;
  background-color: $color-very-dark-blue;






}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: green;
  min-height: 100vh;
  color: #fff;
}


// cards

.card {
  background-color: $color-dark-blue;
  height: 20rem;
  width: 25rem;
  border-radius: 1.2rem;
  display: grid;
  padding: 3rem;

  
  &__title {
    
  }

  &__time {
    font-size: 4.8rem;  
    
  }

  &__last-hours {
    color: $color-pale-blue;
  }
}

//3 DOTTED BUTTON

button {
  width: 50px;
  height: 20px;
  border: 0;
  cursor: pointer;
  background-color: transparent;

  &:hover > .dot {
    background-color: #fff;
  }
   
}

.dot {
  display: inline-block;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background-color: $color-pale-blue;

  


}