// PRIMARY COLORS
$color-blue: hsl(246, 80%, 60%);
$color-soft-blue: hsl(195, 74%, 62%);
$color-light-red: hsl(348, 100%, 68%);
$color-lime-green: hsl(145, 58%, 55%);
$color-violet: hsl(264, 64%, 52%);
$color-soft-orange: hsl(43, 84%, 65%);
$color-orange-dark: #ff8b64;

// NEUTRAL COLORS
$color-very-dark-blue: hsl(226, 43%, 10%);
$color-dark-blue: hsl(235, 46%, 20%);
$color-desaturated-blue: hsl(235, 45%, 61%);
$color-desaturated-blue-hover: hsl(235, 45%, 41%);
$color-pale-blue: hsl(236, 100%, 87%);

// FONT VARIABLES
$font-primary: 'Rubik',
sans-serif;
$font-secondary: 'Sans-serif';


// GENERAL
@mixin transition-basic {
  transition: all 0.3s;

}

// - Mobile: 375px
// - Desktop: 1440px


// RESPONSIVE BREAKPOINTS
$bp-larger: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 37.5em; // 600px;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: $bp-large) {
    // font-size: 50%;
  }

  @media only screen and (max-width: $bp-medium) {
    // font-size: 40%;
  }

  @media only screen and (max-width: $bp-small) {
    // font-size: 35%;
  }

}

body {
  font-family: $font-primary;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.6;
  overflow-x: hidden;
  background-color: $color-very-dark-blue;






}

// - Mobile: 375px
// - Desktop: 1440px

.main-container {

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  color: #fff;

  @media only screen and (max-width: $bp-larger) {
    padding: 3rem;
  }

  @media only screen and (max-width: $bp-medium) {
    display: block;
    min-height: 0;
    min-width: 0;
    padding: 1rem;
  }

  
}

.content-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-gap: 5px;

  @media only screen and (max-width: $bp-larger) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }

  @media only screen and (max-width: $bp-medium) {
    grid-template-columns: repeat(1, 1fr);
  }
  
}


// cards

.card-work,.card-play,.card-study,.card-exercise,.card-social,.card-selfcare {
  position: relative;
  margin-top: 5rem;
  margin-left: 2rem;
  margin-bottom: 2rem;

  @media only screen and (max-width: $bp-larger) {
    width: auto;
    margin-left: 0;
  }
  
  
 
}



.top-card-work,.top-card-play,.top-card-study,.top-card-exercise,.top-card-social,.top-card-selfcare {
  // background-image: url('../images/icon-work.svg');
  background-repeat: no-repeat;
  background-position: right top; 
  width: 25rem;
  height: 7rem;
  // background-color: $color-orange-dark;
  border-radius: 10px;
  position: absolute;
  top: -5rem;
  z-index: -1;

  @media only screen and (max-width: $bp-larger) {
    width: 100%;  
  }
}

.top-card-work{
  background-image: url('../images/icon-work.svg');
  background-color: $color-orange-dark;
}

.top-card-play{
  background-image: url('../images/icon-play.svg');
  background-color: $color-soft-blue;
}

.top-card-study{
  background-image: url('../images/icon-study.svg');
  background-color: $color-light-red;
}

.top-card-exercise{
  background-image: url('../images/icon-exercise.svg');
  background-color: $color-lime-green;
}

.top-card-social{
  background-image: url('../images/icon-social.svg');
  background-color: $color-violet;
}

.top-card-selfcare{
  background-image: url('../images/icon-self-care.svg');
  background-color: $color-soft-orange;
}


.card {
  background-color: $color-dark-blue;
  height: 20rem;
  width: 25rem;
  border-radius: 1.2rem;
  display: grid;
  padding: 3rem;
  cursor: pointer;
  display: grid;
  grid-template-columns: 75% min-content;
  grid-template-rows: 4rem 1fr 1fr;

  @media only screen and (max-width: $bp-larger) {
    width: 100%;
    grid-template-columns: 2fr 1fr;
  }

  &:hover{
    background-color: $color-desaturated-blue-hover;
  }


  
  &__title {
    grid-column: 1 / 1;  
  }

  &__time {
    font-size: 4.8rem;  
    grid-column: 1 / 1;  
    
  }

  &__last-hours {
    color: $color-pale-blue;
    grid-column: 1 / 1; 
    
    @media only screen and (max-width: $bp-larger) {
      grid-column: 2 / 3;
    }
  }
}


//3 DOTTED BUTTON

button {
  width: 50px;
  height: 20px;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  grid-column: 2 / 2; 
  grid-row: 1 / 1; 

  @media only screen and (max-width: $bp-larger) {
    margin-left: 7rem;
  }

  &:hover > .dot {
    background-color: #fff;
  }
   
}

.dot {
  display: inline-block;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background-color: $color-pale-blue;

  


}